@model Lab2.Models.FriendModel
@{
    ViewBag.Title = "AddFriend";
}
<h2>AddFriend</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="form">
    @Html.ValidationSummary(true, "")
    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Id, "")
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Ime, "")
     </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MestoZiveenje, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.MestoZiveenje, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MestoZiveenje, "")
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn">Add</button>
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to the list of friends", "listFriends")
</div>
